@charset "utf-8";
.Ybanner{
    width: 100%;
    height: 720px;
    background-color: yellow;
}
.Ybannermain1{
    width: 100%;
    height: 180px;
}
.Ybannermain1 > li{
    width: 50%;
    height: 180px;
    float: left;
}
.Ybannermain1 > li > img{
    width: 100%;
    height: 180px;
}
.Ybannermain2{
    width: 100%;
    height: 180px;
}
.Ybannermain2 > li{
    width: 50%;
    height: 180px;
    float: left;
}
.Ybannermain2 > li > img{
    width: 100%;
    height: 180px;
}
.Ybannerbot1{
    height: 180px;
}
.Ybannerbot1 > img{
    width: 100%;
    height: 180px;
}
.Ybannerbot2{
    height: 180px;
}
.Ybannerbot2 > img{
    width: 100%;
    height: 180px;
}
