@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
ul,li{
    list-style: none;
}
label, span{
    display: block;
}
input[type=text]{
    box-sizing: border-box;
}
input[type=submit], input[type=button] {
    cursor: pointer;
}